{% extends '/layouts/app.twig' %} {% block content %} {% for snippet in snippets %}
<div class="card my-4" id="snippet-{{ snippet.id }}">
	<div class="p-3">
		<a
			href="/user/profile/{{ snippet.author.id }}"
			class="d-flex align-items-center text-decoration-none"
			style="color: inherit">
			{% if snippet.author.pfp %}
			<img
				src="/assets/uploads/{{ snippet.author.pfp }}"
				alt="User"
				class="nav-icon theme-icon me-2 rounded-circle" />
			{% else %}
			<img src="/assets/icons/light/profile-user.png" alt="User" class="nav-icon theme-icon me-2" />
			{% endif %}
			<p class="m-0 fw-bold">{{ snippet.author.username }}</p>
		</a>
	</div>
	<div class="code-block">
		<pre
			class="m-0 rounded-0"><code id="code-block" class="language-{{ snippet.language }}">{{ snippet.code }}</code></pre>
	</div>
	<div class="card-body p-0">
		<div class="likes d-flex px-3 pt-3">
			<form action="/like/add" method="post" class="d-flex align-items-center">
				<input type="hidden" name="snippet_id" value="{{ snippet.id }}" />
				<button type="submit" class="btn btn-link p-0 border-0 rounded-0">
					{% if snippet.userLiked %}
					<img src="/assets/icons/light/heart-fill.png" alt="Like" class="icon theme-icon me-2" />
					{% else %}
					<img src="/assets/icons/light/heart.png" alt="Like" class="icon theme-icon me-2" />
					{% endif %}
				</button>
			</form>
			{% if snippet.likes == 1 %}
			<p class="my-auto" id="likes-{{ snippet.id }}">{{ snippet.likes }} like</p>
			{% else %}
			<p class="my-auto" id="likes-{{ snippet.id }}">{{ snippet.likes }} likes</p>
			{% endif %}
		</div>
		<div class="comments px-3 pb-2">
			<div class="caption pb-2">
				<div class="d-flex mb-1">
					<a
						href="/user/profile/{{ snippet.author.id }}"
						class="d-flex align-items-center text-decoration-none text-black">
						<b id="username" class="me-2 mb-0">{{ snippet.author.username }}</b>
					</a>
					<p id="comment" class="mb-0">{{ snippet.caption }}</p>
				</div>
				<small class="m-0 text-secondary">{{ snippet.current_time | upper }}</small>
			</div>
			<div id="comments-{{ snippet.id }}"></div>
			{% if snippet.comments|length > 0 %}
			<button
				class="btn btn-link border-0 p-0 text-secondary fw-bold text-decoration-none show-more-comments"
				data-snippet-id="{{ snippet.id }}">
				<small>Show more comments</small>
				<small><i class="bi bi-chevron-down me-3"></i></small>
			</button>
			<button
				class="btn btn-link border-0 p-0 text-secondary fw-bold text-decoration-none hide-comments d-none"
				data-snippet-id="{{ snippet.id }}">
				<small>Hide comments</small>
				<small><i class="bi bi-chevron-up"></i></small>
			</button>
			{% endif %}
		</div>
		<div class="post-comment border-top">
			<form action="/comment/create" method="post" class="d-flex bg-white border-0 rounded-bottom">
				<input type="hidden" name="snippet_id" value="{{ snippet.id }}" />
				<input
					type="text"
					class="form-control bg-white border-0 py-3 comment-input"
					name="comment"
					placeholder="Post a comment..." />
				<button
					type="submit"
					class="border-0 bg-white rounded-bottom text-primary pe-3 post-comment-btn"
					disabled>
					Post
				</button>
			</form>
		</div>
	</div>
</div>
{% endfor %} {% endblock %} {% block script %}
<script src="../../assets/js/comment.js"></script>
{% endblock %}
