{% extends '/layouts/app.twig' %} {% block content %}
<div class="pt-5 col-12 col-lg-10 mx-auto">
	<section class="user-profile d-flex flex-column align-items-center text-center py-4 py-md-5">
		<div class="d-flex col-12 col-md-auto">
			<div class="profile-picture mb-3 mb-md-0 me-3 me-md-4">
				{% if user.pfp %}
				<img
					src="/assets/uploads/{{ user.pfp }}"
					alt="Profile picture"
					class="profile-img rounded-circle shadow-sm" />
				{% else %}
				<img
					src="/assets/icons/light/profile-user.png"
					alt="Profile Picture"
					class="profile-img theme-icon rounded-circle shadow-sm" />
				{% endif %}
			</div>
			<div class="user-info w-100">
				<div class="d-flex flex-column align-items-start flex-md-row gap-3 mb-2">
					<h3 class="username fw-bold mb-0">{{ user.username }}</h3>
					<div class="d-none d-md-block">
						{% if userProfile.id == user.id %}
						<div class="btn-group d-flex justify-content-center flex-wrap gap-2">
							<a href="/user/edit/{{ user.id }}" class="btn btn-edit btn-sm fw-bold px-3">Edit Profile</a>
							<a href="/user/change-password" class="btn btn-password btn-sm fw-bold px-3"
								>Change Password</a
							>
						</div>
						{% else %}
						<div class="btn-group d-flex justify-content-center flex-wrap">
							<form action="/user/follow" method="post">
								<input type="hidden" name="followee_id" value="{{ user.id }}" />
								<button type="submit" class="btn btn-follow btn-sm fw-bold px-3">
									{% if isFollowing %}Unfollow{% else %}Follow{% endif %}
								</button>
							</form>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="d-flex text-center text-md-start d-none d-md-block">
					{% if user.name is not empty %}
					<p class="name mb-1">{{ user.name }}</p>
					{% endif %}
				</div>
				<div class="counts">
					<div class="d-flex justify-content-start gap-4">
						<div class="text-black d-flex flex-column flex-md-row align-items-start gap-md-1">
							<span class="fw-bold">{{ snippets|length | default(0) }}</span>
							{% if snippets|length == 1 %}<span>post</span>{% else %}<span>posts</span>{% endif %}
						</div>
						<div class="text-black d-flex flex-column flex-md-row align-items-start gap-md-1">
							<span class="fw-bold">{{ followerCount | default(0) }}</span>
							{% if followerCount == 1 %}<span>follower</span>{% else %}<span>followers</span>{% endif %}
						</div>
						<div class="text-black d-flex flex-column flex-md-row align-items-start gap-md-1">
							<span class="fw-bold">{{ followingCount | default(0) }}</span>
							<span>following</span>
						</div>
					</div>
				</div>
				<div class="d-flex text-start d-none d-md-block">
					{% if user.bio is not empty %}
					<p class="bio mb-0">{{ user.bio }}</p>
					{% else %}
					<p class="bio mb-0">No bio yet.</p>
					{% endif %}
				</div>
				{% if message %}
				<div
					class="alert alert-{{ error }} alert-dismissable d-flex justify-content-between p-2 mt-2"
					role="alert">
					<div>{{ message }}</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endif %}
			</div>
		</div>

		<!-- mobile: bio & name underneath user-info -->
		<div class="d-flex d-md-none flex-column mb-3 w-100">
			<div class="d-flex text-start fw-bold">
				{% if user.name is not empty %}
				<p class="name mb-1">{{ user.name }}</p>
				{% endif %}
			</div>
			<div class="d-flex text-start small">
				{% if user.bio is not empty %}
				<p class="bio mb-0">{{ user.bio }}</p>
				{% else %}
				<p class="bio mb-0">No bio yet.</p>
				{% endif %}
			</div>
		</div>
		<div class="d-block d-md-none w-100">
			{% if userProfile.id == user.id %}
			<div class="btn-group d-flex justify-content-center flex-wrap gap-2">
				<a href="/user/edit/{{ user.id }}" class="btn btn-edit btn-sm fw-bold px-3">Edit Profile</a>
				<a href="/user/change-password" class="btn btn-password btn-sm fw-bold px-3">Change Password</a>
			</div>
			{% else %}
			<div class="btn-group d-flex justify-content-center flex-wrap">
				<form action="/user/follow" method="post">
					<input type="hidden" name="followee_id" value="{{ user.id }}" />
					<button type="submit" class="btn btn-follow btn-sm fw-bold px-3">
						{% if isFollowing %}Unfollow{% else %}Follow{% endif %}
					</button>
				</form>
			</div>
			{% endif %}
		</div>
	</section>
	<section class="user-posts">
		{% if snippets|length > 0 %}
		<div class="row">
			{% for snippet in snippets %}
			<div class="col-6 col-lg-4">
				<div class="card card-snippet">
					<a href="/#snippet-{{ snippet.id }}" class="snippet-link">
						<pre
							class="m-0 rounded-0"><code id="code-block" class="language-{{ snippet.language }}">{{ snippet.code }}</code></pre>
						<div class="overlay d-flex justify-content-center align-items-center fw-bold gap-3">
							<div class="d-flex gap-2">
								<i class="bi bi-heart-fill"></i>
								<p class="m-0">{{ snippet.like_count }}</p>
							</div>
							<div class="d-flex gap-2">
								<i class="bi bi-chat-fill"></i>
								<p class="m-0">{{ snippet.comment_count }}</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<h2 class="text-center fw-bold">No posts.</h2>
		{% endif %}
	</section>
</div>
{% endblock %}
